<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Name{% endblock %}</title>
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> {% endblock %}
    {% block js %} <script src="{{ url_for('static', filename='main.js') }}"></script> {% endblock %}


    


</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/" {% block index_a%} class="deactive" {% endblock %}>Főoldal</a>
        <a href="/elerhetosegek" {% block elerhetosekek_a%} class="deactive" {% endblock %}>Elérhetőségek</a>
        <a href="/login" {% block login_a%} class="deactive" {% endblock %}>Login</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            <p class="navbar_line"></p>
            <p class="navbar_line"></p>
            <p class="navbar_line"></p>
        </a>
    </div>
    
    {% block content %}

    {% endblock %}
</body>

</html>
